*{
    margin:0;
    padding:0;
}
body{
    background-color: green;
}
#myCanvas{
    position: absolute;
    image-rendering:crisp-edges;
    width:auto;
    left:50%;
    transform: translate(-50%);
    height: 100%;
    z-index:1000;
}
